OPENAI_API_KEY="please-enter-openai-api-key"
GOOGLE_API_KEY="please-enter-google-api-key"
STREAMLIT_REDIRECT_URI = "please-enter-redirect-uri"
STREAMLIT_COOKIE_SECRET = "please-enter-cookie-secret"
STREAMLIT_CLIENT_ID = "please-enter-client-id"
STREAMLIT_CLIENT_SECRET = "please-enter-client-secret"
STREAMLIT_SERVER_METADATA_URL = "please-enter-server-metadata-url"