[auth]
redirect_uri = "please-enter-redirect-uri"
cookie_secret = "please-enter-cookie-secret"
client_id = "please-enter-client-id"
client_secret = "please-enter-client-secret"
server_metadata_url = "please-enter-server-metadata-url"